*{
    padding: 0px;
    margin: 0px;
}
#house{
    color: yellow;
}

.nav,li,ul{
        display: inline-block;
        flex: 2px;
        display: flex;
        margin: 0px 15px;
        list-style: none;
         padding-left: 2px;
        }
.button{
    margin:20px 40px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 10px;
}
.food{
    display:flex;
    margin-top: 10px;
    gap: 20px;
}
.foodi{
    margin-top: 70px;
    font-weight: 100px;
    text-align: center;
    }
.qual{
    text-align: center;
}

.offer{
    display: flex;
    width: 400px;
    height: 200px;}
.flav{
    display: flex;
    width: 400px;
    height: 200px;
}
.wings {
    display: flex;
    }
.chic{
    margin-bottom: 100px;
}
.del{
    margin-top: 30px;
}
.ric{
    display: flex;
    margin-bottom: 12%;
}
.ton {
    display: flex;
    margin-left: 80px;
    margin-left: 22%;
}
.ton img{
    height: 340px;
    width:240px ;
}
.client{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 12%;
    }
    .test{
        text-align: center;
    }
.fren{
    text-align: center;

}
.picture img{
    display: flex;
    height: 100px;
    width:100px ;
    
    padding: 34px;
    }
.picture{
    display:flex;
    
}
.service{
    display :flex;
    gap: 80px;
    margin-top: 50px;
    }
    .serv{
        font-weight: 50px;
    }
.phone img{
    height:200px;
    width: 300px;
    display: flex;
}
.phone{
    display: flex;
    margin-left: 12%;
    
}
.download{
    
}
.map img{
    height:200px ;
    width:300px ;

}
.div{
    display :flex ;
}
.image img{
    height: 500px;
    width:400px ;
}
footer{
display: flex;
background-color: black;
color: aliceblue;

}
.foot{
    display: flex;
    gap: 12%;
}
ul{ 
    list-style: none;
}
.buttn{
    display: flex;
}
.div1{
display: flex;
}
.salat{
display: flex;
}
.map{
    display: flex;
}
.burg{
    display: flex;
}
.web{
    width: 30%;
    height:50%;
    
}
.serv{
    margin-left: 20%;
}
.our{
    margin-left: 50%;
    margin-top:10%;
}
.pic{
    width: 50%;
    height: 50%;
}
.place{
display: flex;
gap: 6%;
}
